.combo {
    position: relative;

    &::before {
        content: "";
        max-width: calc(100vw - (((100vw - 1104px) / 2) + 225px + 879px - 172px));
        width: 100%;
        height: 100%;
        background-color: rgb(65, 81, 103);

        position: absolute;
        right: 0;
        z-index: -1;

    }

    &__content{

        &-list {
            justify-content: center;

            &-item{
                flex-direction: column;
                height: 562px;
                
            }
        }
    }
}