@import "_vars";

.header {

    &__wrapper {
        height: 768px;
        display: flex;
        justify-content: center;
    }
}

.logo {

    margin-right: 137px;
    margin-left: 110px;
    margin-top: 76px;

    position: relative;

    &-img {
        min-width: 110px;
        min-height: 37px;
    }

    &__text {
        font-family: $montserrat;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 70px;

        color: $primary-color;

        position: absolute;
        bottom: 64px;
        left: -5px;
        z-index: 2;

        &-span {
            padding-left: 15px;

            &--accent {
                background-color: $accent-color;
                padding: 0 15px;
                color: #fff;
            }
        }


    }
}

.player {
    width: 100%;
    
    position: relative;


    &-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($color: $dark-grey, $alpha: .3);
    }

    &__play{
        width: 54px;
        height: 54px;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-color: #fff;
        color: $accent-color;
        cursor: pointer;

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%,-50%);

        &-icon{
            font-size: 13px;
            
        }
    }
}

.menu {
    max-width: 327px;
    width: 100%;
    
    background-color: $primary-color;

    display: flex;
    flex-direction: column;


    &__cart {
        margin-top: 76px;
        margin-left: 59px;


        cursor: pointer;

        position: relative;

        &::before {
            content: "2";

            position: absolute;
            left: 15px;
            top: -15px;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;

            color: #F9FBFF;
            background-color: $accent-color;
            border-radius: 50%;

            font-family: $nunito;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 19px;


        }
    }

    &__list {
        display: flex;
        flex-direction: column;

        padding-top: 128px;
        padding-left: 56px;

        &-item {

            font-family: $nunito;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: $light-grey;

            
            margin: 15px 0;

            cursor: pointer;

            &:first-child {
                margin-top: 0;
            }

            &--active {
                font-family: $nunito;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 22px;
            }

           


        }
    }
}